<!doctype html>
<html lang="zh">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>网协 - 部门活动安排</title>
</head>

<body>
    <!-- 
Custom nvbar color 
-->
    <nav class="navbar navbar-expand-sm navbar-custom navbar-dark bg-dark  justify-content-between">
        <a href="#" class="navbar-brand"><img src="images/bitnp-white.png" alt="logo of bitnp"></a>
        <span class="nevbar-brand text-light mr-auto">网络开拓者协会 - 部门活动安排公告</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="http://www.bitnp.net">网协首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://live.bitnp.net">NPLive(内网)</a>
                </li>
                
            </ul>
        </div>
    </nav>


    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1">1</li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
        </ul>

        <!-- 轮播图片 -->


        <div class="carousel-inner h-100" id="app1">

            <div class="carousel-item active h-100">
                <div class="bg"></div>
                <div class="carousel-caption">
                    <h3>{{overall.title}}</h3>
                    <template v-if="overall.date||overall.time||overall.location||overall.description">
                    <div class="c1">时间: {{ overall.date }} - {{ overall.time }}</div>
                    <div class="c2">地点: {{ overall.location }}</div>
                    <div>主要内容:
                        <p>{{ overall.description }}</p>
                        <div v-if="overall.description">hello</div>
                    </div>
                    <div class="c3">要求: {{ overall.requirement || "无" }} </div>
                    </template>
                    <h2 class="c2" v-else><br> 还未安排下次活动<br><br> </h2>                    
                    <small>更新时间: {{overall.updatetime}}</small>
                </div>
            </div>

            <div is="carousels" v-for="item in items" v-bind:key="item.id" v-bind:department="item.department"
                v-bind:date="item.date" v-bind:time="item.time" v-bind:location="item.location" v-bind:description="item.description"
                v-bind:updatetime="item.updatetime" v-bind:requirement="item.requirement" class="carousel-item h-100"
                :class="item.status"></div>
            <!-- 'status', 'department', 'date', 'time', 'location', 'description', 'requirement' -->

        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script>
        Vue.component('carousels', {
            template: ' \
                <div :class="status"> \
                    <div class="bg"></div> \
                    <div class="carousel-caption"> \
                        <h3>部门:  {{ department }}</h3> \
                        <template v-if="date||time||location||description"> \
                            <div class="c1">时间:  {{ date }} - {{ time }}</div> \
                            <div class="c2">地点:  {{ location || 尚未确定 }}</div> \
                            <div>主要内容: \
                                <p>{{ description || "暂无活动" }}</p> \
                            </div> \
                            <div class="c3">要求:  {{ requirement || "无" }} </div> \
                        </template> \
                        <h2 class="c2" v-else><br> 还未安排下次活动<br><br> </h2> \
                        <small>更新时间:  {{ updatetime }} </small> \
                    </div> \
                </div> \
                ',
            props: ['status', 'department', 'date', 'time', 'location', 'description', 'requirement', 'updatetime']
        })
        var app1 = new Vue({
            el: '#app1',
            data: {
                overall: {
                    status: '',
                    title: '网络开拓者协会ޓ( ˚  ߜ˚) ރ 全体大会', date: '2018-10-xx', time: '18:30-21:30',
                    location: '图书馆音乐厅', description: '应该（已经）凉凉了, 大概会在两周以后',
                    requirement: '', updatetime: '2018-10-17 21:14:09'
                },
                items: [
                    {
                        id: 1,
                        status: '',
                        department: '组织部(๑ÒωÓ๑)', date: '', time: '',
                        location: '',
                        requirement: '', updatetime: '2018-10-16 12:29:40'
                    },
                    {
                        id: 2, status: '',
                        department: '树莓ლ(╹◡╹ლ)', date: '', time: '',
                        location: '', description: '',
                        requirement: '', updatetime: '2018-10-22 00:05:50'
                    },
                    {
                        id: 3, status: '',
                        department: '电脑诊所 ヾ(๑╹◡╹)ﾉ', date: '每周一~周五', time: '18:30-21:00',
                        location: '图书馆311G', description: '电脑维修服务',
                        requirement: '有热心, 对电脑知识有一定了解', updatetime: '2018-10-15 17:34:50'
                    },
                    {
                        id: 4, status: '',
                        department: '网络部 _へ__(‾◡◝ )>', date: '', time: '',
                        location: '', description: '',
                        requirement: '', updatetime: '2018-10-22 00:05:04'
                    },
                    {
                        id: 5, status: '',
                        department: '技术部٩(｡•ω<｡)و', date: '2018-10-22', time: '',
                        location: '', description: '',
                        requirement: '', updatetime: '2018-10-19 17:59:27'
                    },


                ]
            }
        });

        var app2 = new Vue({
            el : "#app2",
            data:{
                intq:"i"
            },
            methods: {
                randomInt: function () {
                    return Math.random() * (20 - 2) + 2;
                }
            }
        })
    </script>
</body>

</html>
