.bg{
    height:100%;
    width:100%;
}
h3{
    color: rgb(199, 171, 136);
}
.c1{
    color: darkkhaki;
}
.c2{
    color: rgb(160, 108, 108);
}
.c3{
    color: rgb(91, 138, 91);
}

#demo{
    height: 91vh;
}
/* .carousel-indicators,
.carousel-item,
.carousel-inner{
    height: 100%;
} */
.full-screen{
    height:95vh;
}
.navbar-brand img{
    height: 6vh;
}
.carousel-caption{
    /* position: relative; */
    /* top:-200px; */
    padding:20px;
    bottom: 30%;
    min-height:300px;
    max-width:70%;
    overflow: auto;
    border: 3px white solid;
}

#app1>div:nth-child(1)>div.bg{
    background:url(../images/wheat.png) repeat;
}

#app1>div:nth-child(2)>div.bg{
    background:url(../images/folk-pattern-black.png) repeat;
}

#app1>div:nth-child(3)>div.bg{
    background:url(../images/christmas-dark.png) repeat;
}

#app1>div:nth-child(4)>div.bg{
    background:url(../images/connectwork.png) repeat;
}

#app1>div:nth-child(5)>div.bg{
    background:url(../images/dark-grey-terrazzo.png) repeat;
}

#app1>div:nth-child(6)>div.bg{
    background:url(../images/tex2res4.png) repeat;
}


/* scrollbar style start */

/*滚动条样式*/
.carousel-caption::-webkit-scrollbar{
    width: 6px;
    height: 16px;
    background-color: #f5f5f5;
}
/*定义滚动条的轨道，内阴影及圆角*/
.carousel-caption::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 20px;
    background-color: #f1f2f7;
}
/*定义滑块，内阴影及圆角*/
.carousel-caption::-webkit-scrollbar-thumb{
    height: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #212933;
}
/* scrollbar style end */
